root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = false
max_line_length = 160
tab_width = 4

[{*.ts,*.tsx}]
ij_typescript_align_multiline_parameters = false

[*.html]
ij_html_do_not_indent_children_of_tags = none
