@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100%;
  max-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace
}

/* HPM fonts */
@font-face {
  font-family: 'HPM';
  src: url(./fonts/HPMLinBiolinumO.woff);
}

@font-face {
  font-family: 'HPM-serif';
  src: url(./fonts/HPMLinLibertineO.woff);
}

/* special classes */

.navbar {
  margin-bottom: 20px;
}

.is-underlined {
  text-decoration: underline
}

.scrollable {
  min-height: 1000px;
  max-height: 1000px;
  overflow-y: auto;
}

/* Load new font for editor */
.font-hpm {
  font-family: HPM, monospace
}

.font-hpm-serif {
  font-family: HPM-serif, monospace
}

.button-text-left {
  justify-content: flex-start
}

/* Word content styles */
.hittite, .Hit {
  color: #000080;
  font-style: italic;
}

.akkadogramm, .Akk {
  color: #800000;
  font-style: italic
}

.sumerogramm, .Sum {
  color: #355e00;
  font-style: normal
}

.hurrite, .Hur {
  color: #b80047;
}

.luwian, .Luw {
  color: #088b6b;
}

.hattian, .Hat {
  color: #006b6b;
}

.determinativ {
  color: #663300;
  vertical-align: super;
  font-style: normal;
}

.materLectionis {
  color: #fb33cc;
  vertical-align: super;
  font-style: normal;
}

.correction {
  color: #ff00ff;
  vertical-align: super;
  font-style: normal;
}

.gap {
  color: #111111;
  background-color: #e6e6ff;
}

.marked {
  background-color: #9696ff;
}

.corr {
  vertical-align: super;
  font-size: 80%;
}

.cl {
  color: white;
  background-color: black;
}