@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100%;
  max-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace
}

/* HPM fonts */

@font-face {
  font-family: 'UllikumiA';
  src: url(./fonts/UllikummiA.woff);
}

@font-face {
  font-family: 'HPM';
  src: url(./fonts/HPMLinBiolinumO.woff);
}

@font-face {
  font-family: 'HPM-serif';
  src: url(./fonts/HPMLinLibertineO.woff);
}

/* Load new font for editor */
.font-hpm {
  font-family: HPM, monospace;
}

.font-hpm-serif {
  font-family: HPM-serif, monospace;
}

.font-ullikumi-a {
  font-family: UllikumiA, sans-serif;
}

/* Word content styles */

.font-non-italic {
  font-style: normal;
}

.hittite, .Hit {
  color: #000080;
  font-style: italic;
}

.akkadogramm, .Akk {
  color: #800000;
  font-style: italic
}

.sumerogramm, .Sum {
  color: #355e00;
  font-style: normal
}

.hurrite, .Hur {
  color: #b80047;
  font-weight: bold;
}

.luwian, .Luw {
  color: #088b6b;
  font-weight: bold;
}

.hattian, .Hat {
  color: #006b6b;
  font-weight: bold;
}

.palawian, .Pal {
  /* TODO! */
  font-weight: bold;
}

.determinativ {
  color: #663300;
  vertical-align: super;
  font-style: normal;
}

.materLectionis {
  color: #fb33cc;
  vertical-align: super;
  font-style: normal;
}

.correction {
  color: #ff00ff;
  vertical-align: super;
  font-style: normal;
}

.gap {
  color: #111111;
  background-color: #e6e6ff;
}

.marked {
  background-color: #9696ff;
}

.corr {
  vertical-align: super;
  font-size: 80%;
}

.cl {
  background-color: lawngreen;
}

/* Document merger classes from here on... */

.grid-container-element {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.grid-child-element {
  margin: 4px;
  border: 1px solid darkgrey;
  border-radius: 5px;
}

.grid-child-element li {
  height: 1.8rem !important;
  font-size: 12px; /* fallback */
  font-size: clamp(1px, 1vw, 16px);
}

.grid-child-element .mt-4 {
  margin-left: 1rem;
  display: inline;
}

.grid-child-element .marker {
  background-color: #d3d3d3;
}

.grid-child-element button {
  margin-right: 5px;
}

.grid-container-element-header {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 5px;
}

.grid-child-element-header {
  margin: 4px;
  border: 1px solid darkgrey;
  border-radius: 5px;
}

.publication {
  border-radius: 0px !important;
  border: 0px !important;
}

.publication span {
  display: inline-block;
  width: 6rem;
}

.publication input {
  width: 3rem;
}

/*
.leftList, rightList {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
}
.mergeList {
  display: inline-block;
  width: 50%;
}*/